:javascript
  $('#setup_link').addClass('active');
  $(document).ready(function() {
    $('#new-file-type').click(function() {
      window.location.href = "#{new_connection_path}";
    });
    $('.primary_row').click(function() {
      window.location.href = $(this).data('link');
    });
  });
= stylesheet_link_tag 'setup'
#wrapper
  = render partial: 'home/sidebar'
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          .row.margined-bottom
            %button#new-file-type.pull-left.glyphicon.glyphicon-plus
              %span
                = t('add')
          %table.table-condensed.table-striped.full-width.table-bordered.table-hover
            %tr
              %th
                = t('cilent_name')
              %th
                = t('primary_type')
              %th

            - @primaries.each do |primary|
              %tr.clickable.primary_row
                %td
                  = primary.client.name_en
                %td
                  = primary.files_primary_type.name_en
                %td
                  %form{:method => 'delete', :action => connection_destroy_path(:connection_id => primary.id)}
                    %button{:type => 'submit', :class => 'btn btn-danger'}
                      = t('delete')
              :javascript
                $('.primary_row').last().data('link', "#{connection_sc_path(:connection_id => primary.id)}");
          .row
            = paginate @primaries
          .row
            = page_entries_info @primaries
