= stylesheet_link_tag 'tree.css'
.row
  .col-sm-6.col-lg-6.col-md-6
    %select.form-control.yearly
      %option{:value => 0, :selected => 'true'}
        All Files
      - (1970..2020).each do |i|
        - if @year.to_i == i.to_i
          %option{:value => i, :selected => 'true'}
            = i
        - else
          %option{:value => i}
            = i
  .col-md-6.col-sm-6.col-lg-6
    %span.glyphicon.glyphicon-remove.remove
#jstree
  %ul
    %li
      root
      %ul
        - @client_types.each do |client_type|
          %li
            = link_to (client_type.send("name_" + locale.to_s) + "-----------------------" + t('client_type')), client_type_path(:id => client_type.id), :method => 'get'
            %ul
              - client_type.clients.each do |client|
                %li
                  = link_to (client.send("name_" + locale.to_s) + "-----------------------" + t('clients')), client_path(:id => client.id), :method => 'get'
                  %ul

                    - client.connections.where(:files_secondary_type_id => nil).each do |connection|
                      - fp = connection.files_primary_type
                      %li
                        = fp.send("name_" + locale.to_s) + " ***************************" + t('files_primary_type')
                        %ul
                          - client.connections.where(:files_primary_type_id => fp.id).each do |connection2|
                            - if connection2.id != connection.id
                              - sc = connection2.files_secondary_type
                              %li
                                = sc.send("name_" + locale.to_s) + " **********************" + t('files_secondary_type')
                                %ul
                                  - client.filers.each do |file|
                                    - if (file.files_secondary_type.id == sc.id)
                                      - if (@year && file.files_secondary_type.files_primary_type.yearly && file.files_secondary_type.year == @year) || (! @year)
                                        %li
                                          = link_to (file.send("name_" + locale.to_s) + "-----------------------" + t('files')), file_path(:id => file.id), :method => 'get'
                                          %ul
                                            - file.papers.each do |paper|
                                              %li{:'data-jstree' => '{ "type" : "file" }'}
                                                = link_to paper.order + 'doc', paper.url.url(:original, false), :target => '_blank'
:javascript
  $('#tree_link').addClass('active');
  $('#jstree').jstree({
    "core" : {
      "animation" : 0,
      "themes" : { "stripes" : true },
    },
    "types" : {
      "file" : {
        "icon" : "glyphicon glyphicon-file"
      }
    },
    "plugins" : [
      "dnd", "search",
      "state", "types", "wholerow"
    ]
  });
  $('.yearly').change(function() {
    window.location.href = "#{tree_path}?year="+$(this).val();
  });
  $('.remove').click(function() {
    window.location.href = "#{tree_path}";
  });

