= stylesheet_link_tag 'tree.css'
#jstree
  %ul
    %li
      root
      %ul
        - @client_types.each do |client_type|
          %li
            = link_to (client_type.name_en + "-----------------------" + t('client_type')), client_type_path(:id => client_type.id), :method => 'get'
            %ul
              - client_type.clients.each do |client|
                %li
                  = link_to (client.name_en + "-----------------------" + t('clients')), client_path(:id => client.id), :method => 'get'
                  %ul
                    - client.filers.each do |file|
                      %li
                        = link_to (file.name_en + "-----------------------" + t('files')), file_path(:id => file.id), :method => 'get'
                        %ul
                          - file.papers.each do |paper|
                            %li{:'data-jstree' => '{ "type" : "file" }'}
                              = link_to paper.order+'doc', paper.url.url(:original, false), :target => '_blank'
:javascript
  $('#tree_link').addClass('active');
  $('#jstree').jstree({
    "core" : {
      "animation" : 0,
      "themes" : { "stripes" : true },
    },
    "types" : {
      "file" : {
        "icon" : "glyphicon glyphicon-file"
      }
    },
    "plugins" : [
      "dnd", "search",
      "state", "types", "wholerow"
    ]
  });
