:javascript
  $('#setup_link').addClass('active');
= stylesheet_link_tag 'setup'
#wrapper
  = render partial: 'home/sidebar'
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          = form_for @client_type, url: {action: "create"} do |f|
            .form-group
              %label{:for => 'client_name_en'}
                = t('client_type_english')
              = f.text_field :name_en, id: 'client_name_en', class: 'form-control'
            .form-group
              %label{:for => 'client_name_ar'}
                = t('client_type_arabic')
              = f.text_field :name_ar, id: 'client_name_ar', class: 'form-control'
            .form-group
              %label{:for => 'prefix'}
                = t('prefix')
              = f.text_field :prefix, id: 'prefix', class: 'form-control'
            %button{:type => 'submit', :class => 'btn btn-default'}
              = t('save')


